#teamsContainer {
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(rgb(252, 252, 252) 50%, rgb(233, 233, 233) 50%);
}

#rocketTeamPage {
  height: 50vh;
  width: auto;
  position: fixed;
  right: 2%;
  top: 45vh;
}

#meetTheTeam {
  padding: 5vh 10%;
  height: 45vh;
  width: 100%;
  display: flex;
  overflow: hidden;
  align-items: center;
  background-color: rgb(255, 255, 255);
  justify-content: space-between;
  @keyframes slideUp {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  #meetTheTeamTitle {
    font-size: 3.7rem;
    $base-color: #036;
    @for $i from 1 through 11 {
      span:nth-child(#{$i}) {
        opacity: 0;
        animation: slideUp 0.8s $i * 0.06s forwards;
      }
    }
  }

  #teamAgenda {
    width: 100%;
    font-size: 1.4rem;
  }

  @keyframes slideLeft {
    0% {
      opacity: 0;
      transform: translateX(10vw);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  #teamIcon {
    height: inherit;
    width: auto;
    opacity: 0;
    transform: translateX(10vw);
    animation: slideLeft 1s 0.1s forwards;
  }
}

.theTeam {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  border-top-right-radius: 500px;
  border-top-left-radius: 500px;
  h1 {
    margin: 5vh 0 5vh 0;
  }
}

#coreTeam {
  margin-top: 5vh;
  background-color: rgb(246, 246, 246);
}

#volunteerWrapper {
  height: auto;
  width: 100%;
  padding-top: 5vh;
  background-color: rgb(246, 246, 246);
  #volunteers {
    background-color: rgb(236, 236, 236);
  }
}

#studentCards {
  min-height: 100vh;
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
#leadInfoCard {
  width: 100%;
  height: 60vh;
  div {
    margin: 0 auto;
  }
}

@media only screen and (max-width: 500px) {
  #meetTheTeam {
    flex-direction: column;
    overflow: hidden;
    padding: 4vh 10%;
    #meetTheTeamTitle {
      font-size: 2rem;
    }
    #teamIcon {
      width: 90%;
      margin: 0 auto;
      height: auto;
    }

    #teamAgenda {
      width: 100%;
      font-size: 0.8rem;
    }
  }

  #rocketTeamPage {
    right: -27.5vw;
    top: 45vh;
    height: 40vh;
  }
  .theTeam {
    border-top-right-radius: 175px;
    border-top-left-radius: 175px;
  }
}

@media only screen and (max-width: 380px) {
  .theTeam {
    border-top-right-radius: 140px;
    border-top-left-radius: 140px;
  }
}
