.studentCard {
  height: 60vh;
  width: 300px;
  margin-bottom: 5%;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.185));
  img {
    height: 80%;
    width: auto;
    object-fit: cover;
  }
  div {
    margin-top: 5%;
    width: 100%;
    text-align: center;
    .studentName {
      font-weight: 900;
      font-size: 1.5rem;
    }
    .studentRole {
      font-size: 1.1rem;
      color: rgba(0, 0, 0, 0.584);
    }
  }
}

#gdscLeadAnimation {
  opacity: 0;
  animation: slideUp 1.5s 0.4s forwards;
}

@keyframes slideUp {
  0% {
    transform: translateX(-10vw);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
