#galleryContainer {
  min-height: 80vh;
  width: 100%;
  position: relative;
}

@keyframes slideUp {
  0% {
    transform: translateY(-10vh);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

#galleryTitle {
  height: 30vh;
  display: flex;
  align-items: center;
  background-color: rgb(255, 255, 255);
  padding-left: 10%;
  opacity: 0;
  animation: slideUp 0.8s 0s forwards;
  font-size: 4rem;
  font-weight: 400;
  color: rgb(38, 25, 1);
}

#gallerySwiper {
  background-color: rgb(242, 242, 242);
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 5vh 0;
  img {
    height: 50vh;
    width: auto;
    border-radius: 50px;
  }
  text-align: center;
}

@media only screen and (max-width: 450px) {
  #galleryTitle {
    font-size: 3rem;
  }
  #gallerySwiper {
    width: 100%;
    padding: 3vh 0;
    img {
      width: 90%;
      height: auto;
      border-radius: 30px;
      object-fit: cover;
      object-position: 50% 50%;
    }
    text-align: center;
  }
}
