#winterSchoolContainer {
  min-height: 100vh;
  width: 100%;
}

#winterBackground {
  height: 100vh;
  width: 100%;
  position: absolute;
  z-index: -1;
  object-fit: cover;
  object-position: 50% 50%;
  filter: drop-shadow(0 1px 5px rgba(0, 0, 0, 0.462));
}

#winterTheme {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#winterSchoolLogo {
  height: 12vh;
  width: auto;
}

#winterSchoolTitle {
  font-size: 2rem;
}

#winterSchoolContext {
  font-size: 1.1rem;
  text-align: center;
  width: 50vw;
}

#coursesContainer {
  min-height: 100vh;
  width: 100%;
  padding: 8vh 10%;
  h1 {
    margin: 5vh 0;
  }
}
#winterSchoolCourses {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#benefitsWrapper {
  height: 20vh;
  width: 100%;
  background-color: #f4f2f2;
}

#courseBenefitsContainer {
  display: flex;
  flex-direction: row;
  height: inherit;
  width: 80%;
  margin-left: 10%;
  align-items: center;
  justify-content: space-evenly;
  .benefitsIcon {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    .benefitText {
      font-size: 0.9rem;
      width: 50%;
      color: #0000009a;
      font-weight: 600;
      margin: 0;
    }
  }
}

#courseFacilitators {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  margin-left: 10%;
}

#FacilitatorsTitle {
  margin: 10vh 10%;
}

.facilitatorCard {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2vh 0 8vh;
  text-align: center;
  padding: 0 5px;
  img {
    height: 18vw;
    width: 18vw;
    object-fit: cover;
    object-position: 50% 50%;
    border-radius: 50%;
  }
  p {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0%;
  }
  span {
    color: #000000a4;
  }
}

.facilitatorCard:hover {
  transform: scale(1.02);
}

@media only screen and (max-width: 600px) {
  #winterSchoolLogo {
    width: 60%;
    height: auto;
  }
  #winterSchoolContext {
    width: 80%;
  }
  #benefitsWrapper {
    height: 15vh;
    #courseBenefitsContainer {
      width: 90%;
      margin-left: 5%;
      .benefitsIcon {
        flex-direction: column;
        gap: 0.2rem;
        img {
          height: 6vh;
        }
        .benefitText {
          font-size: 0.6rem;
          color: #000000a0;
          font-weight: 600;
          text-align: center;
          margin: 0;
          width: 100%;
        }
      }
    }
  }
  .facilitatorCard {
    p {
      font-size: 0.8rem;
    }
    span {
      font-size: 0.6rem;
    }
  }
  #FacilitatorsTitle {
    margin: 3vh 10%;
  }
}
