.eventCard {
  width: 250px;
  height: auto;
  margin: 10px 15px;
  animation: slideUp 0.8s 0s forwards;
  .eventCardImage {
    width: 230px;
    height: 230px;
    border-radius: 50%;
    object-fit: cover;
    object-position: 50% 50%;
    margin: 2px auto;
  }
  p {
    text-align: center;
    margin: 2px auto;
    width: 90%;
  }
  .eventCardDate {
    color: rgb(45, 45, 45);
    font-weight: 600;
    font-size: 0.9rem;
  }
  .eventCardTitle {
    font-size: 1.2rem;
    color: black;
    font-weight: 600;
  }
  .eventCardContent {
    color: rgb(67, 67, 67);
    font-size: 0.9rem;
    margin-bottom: 10px;
  }
}
