.studentCard {
  width: 240px;
  height: auto;
  margin-bottom: 5%;
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 5px 20px;
  img {
    height: 12rem;
    width: 12rem;
    border-radius: 50%;
    object-fit: cover;
  }
  div {
    width: 100%;
    text-align: center;
    .studentName {
      font-size: 1rem;
    }
    .studentRole {
      font-size: 0.9rem;
      color: rgba(0, 0, 0, 0.84);
    }
  }
}
#gdscLeadAnimation {
  opacity: 0;
  animation: slideUp 1.5s 0.4s forwards;
}

@keyframes slideUp {
  0% {
    transform: translateX(-10vw);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@media only screen and (max-width: 700px) {
  .studentCard {
    img {
      height: 9rem;
      width: 9rem;
    }
  }
}
