#contactPage {
  min-height: 100vh;
  width: 100%;
}

#page {
  height: auto;
  margin-top: 5vh;
  width: 100%;
}

#contactHeading {
  margin-top: 5vh;
  margin-left: 5%;
  font-size: 3rem;
}

#contactUsForm {
  width: 50%;
  display: flex;
  padding: 3vh 5% 0 5%;
  flex-direction: column;
  // border-right: 4px solid rgb(0, 0, 0);
  // border-bottom: 4px solid rgb(0, 0, 0);
}
.inputBox {
  border-bottom: 2.5px solid black;
  padding: 0 20px;
  font-size: 18px;
  height: 3em;
  margin-bottom: 10px;
}
#messageBox {
  padding-top: 10px;
  min-height: 3.5em;
  resize: none;
}
#submitButton {
  background-color: rgb(15, 157, 88);
  margin-top: 7vh;
  color: rgb(221, 219, 216);
  height: 45px;
  width: 30%;
  font-size: 20px;
  border-radius: 20px;
}

#contactContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  img {
    height: auto;
    width: 30%;
    margin-right: 5%;
    background-color: aqua;
  }
}

#socialLinks {
  margin-left: 5%;
  margin-bottom: 5vh;
  font-size: 2rem;
  display: flex;
  flex-direction: row;
  p {
    margin-right: 2.5%;
  }
  img {
    height: 7vh;
    width: 7vh;
    margin: 0 4px;
    transition: 0.2s ease-in-out;
  }
  img:hover {
    transform: translateY(-0.5vh);
    filter: drop-shadow(0 10px 5px rgba(0, 0, 0, 0.137));
  }
}
