* {
  border: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Ubuntu", sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  color: rgb(0, 70, 140);
}

input:focus,
textarea:focus {
  outline: none;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
